body{
    background-image: url("https://img.freepik.com/free-vector/paper-style-dynamic-lines-background_23-2149008629.jpg?t=st=1741882972~exp=1741886572~hmac=e8bf5ada57338cade7f6a238dd688b80e7029496f5f4e4a59bfe9480a0a54ab3&w=1380");
    background-size: cover;  
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    
    

}
#main{
    display: flex;
    margin-left: 20px;
    
    

}
#ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-top: 70px;
    margin-left: 600px;
    column-gap: 80px;
    font-size: 20px;
    font-style: italic;
    
    
}
#li a{
    text-decoration: none;
    color: bisque;
}
#li a:hover{
    color: aqua;
}
#mar a{
    color: beige;
    text-decoration: none;
}
#h1{
    color: bisque;
    margin-left: 100px;
    font-style: oblique;
    
    font-size: 25px;
}
#main2{
    display: flex;
    flex-direction: row;
    margin-top: 200px;
    
    height: 300px;
}
#img1{
    height: 250px;
    width: 200px;
    
    margin-left: 370px;
    
    
}
#img3{
    border-radius: 2px 70px;
    border: solid 2px white;
    box-shadow: 2px 5px #f4f6f7;
}
#img3:hover{
    
    border: 4px solid burlywood;
}
