{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Port Folio</title>
    <link rel="stylesheet" href="{% static 'port.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    
    <header id="header">
        <h2 style="padding-left:150px; ;"  >Port Folio.</h2>
        
            <ul id="ul">
                <li class="li"><a href="#" id="home">Home</a></li>
                <li class="li"><a href="" id="about">About</a></li>
                <li class="li"><a href="" id="contact">Contact</a></li>
                <li class="li"><a href="" id="skill">Skills</a></li>
                <li class="li"><a href="" id="projects">Projects</a></li>
                <!-- <li class="li"><a href=""></a></li> -->
            </ul>

    </header>
    <section id="sec">
        <div id="div3">
            <h1>Hello Friends! </h1>
            <h1>I am Prakash Python Developer.</h1>
            <p>Please follow the Navabar actions to know more about me.</p>
        </div>
        <div id="div4">
            <img src="{% static 'mupicture.jpg' %}" alt="image not found">
        </div>
    </section>
    <footer id="div2">
        <marquee scrollamount="8" direction="left" >
            <p>
                <img src="https://w7.pngwing.com/pngs/915/706/png-transparent-blue-call-icon-dialer-android-google-play-telephone-phone-blue-text-telephone-call-thumbnail.png" alt="Image Not Found" width="15px" height="15px">  +91 6302581405
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/LinkedIn_icon.svg/2048px-LinkedIn_icon.svg.png" alt="Image Not Found" width="15px" height="15px"> 
                <a href="https://www.linkedin.com/in/prakash-kumar-daram-891191298/">Linked-In</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="https://icon-library.com/images/git-icon/git-icon-6.jpg" alt="Image Not Found" width="13px" height="13px">  
                <a href="https://github.com/prakash-python" >Git Account</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="https://static.vecteezy.com/system/resources/previews/013/948/544/non_2x/gmail-logo-on-transparent-white-background-free-vector.jpg" alt="Image Not Found" width="15px" height="15px"> @daramprakashkumar587@gamil.com
            </p>
        </marquee>
    </footer>
    <script src="{% static 'port.js' %}"></script>


    </script>
</body>
</html>